html,
body {
  height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/background-pattern.png");
    color: #777777
  }

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 0 -75px 0;
    /* Pad bottom by footer height */
    padding: 0 0 75px;
}

.footer {
  height: 75px;
  width: 100vw;
  background: #666666;
  text-align: center;
  color: #ffffff;
  border-top: 8px solid #4aaaa5;
  line-height: 40px;
  position: absolute;
  bottom: 0;
}

.main-content {
    margin: 30px auto 0 auto;
    padding-bottom: 25px;
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
    line-height: 1.7em;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 1.4em;
    padding: 20px 2%;
    margin: 0
}

#line-division {
    width: 96%;
    height: 3px;
    background: #cccccc;
    overflow: hidden;
    margin: auto;
}

#headshot-img {
    width: 20%;
    float: left;
    margin: 0 3% 2% 0;
}

.contentWrapper {
    padding: 2% 0 0 2%;
}

.formWrapper {
    margin: 2%;
}

#bootstrap-overrides .navbar {
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
  }

.nav-content {
    height: 75px;
    margin: auto;
}

#headerName {
  margin-left: 7vw;
  background: #4aaaa5;
  color: white;
  height: 73px;
  line-height: 65px;
  width: 190px;
  text-align: center;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.4em;
}

#navbarTogglerDemo02 {
    margin-left: 45%;
    z-index: 1;
    right: 0;
    margin-right: 7vw;
    background: #ffffff;
}

.portfolio-item {
    /* float: left; */
    padding: 0px 0px 0px 8%;
    height: 175px;
    margin-top: 20px;
  }
  
  .portfolio-item img {
    position: absolute;
  }
  
  .portfolio-item-title {
    background: #4aaaa5;
    color: #ffffff;
    position: relative;
    top: 70%;
    text-align: center;
    line-height: 40px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 175px;
  }

#bootstrap-overrides .btn {
  background-color: #4aaaa5;
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 0px 40px 0px;
  cursor: pointer;

}

.about-me-content {
  margin: 3% 0 0 0;
}

.footer-text {
  margin-top: 15px;
  /* padding: 0; */
}

#navBar {
  padding: 0;
  height: 75px; 
}

#bootstrap-overrides .nav-link {
  display: block;
  color: #777777;
  text-decoration: none;
  display: block;
  color: #777777;
  text-decoration: none;
  height: 73px;
  line-height: 65px;
}

#bootstrap-overrides .nav-link:hover {
  background: #4aaaa5;
  color: #ffffff;
}